<%- include("header"); -%>

    <div class="card">
        <h2 class="header"><%= title %></h2>
        <div class="card-body">
        <div class="list-item">
            <% newPoint.forEach((ele)=>{ %>
                <div class="row">
                    <input type="checkbox">
                <p class="item"><%= ele %></p>
                </div>

            <% }); %>
        </div>

        <form action="<%= dataPush %>" method="post" style="margin-top: -20px;">
            <input type="text" name="point" placeholder="Add" autocomplete="off" required >
            <button class="add-btn" type="submit" name="add"><p class="add">+</p></button>
        </form>
        </div>
    </div>
    <p class="footer">&#64;alphaCoder69</p>

<%- include("footer"); -%>
